<!-- componente de trilha de navegacao -->
<app-bread-crumb 
  [items]="[{text:'Férias',link:'/ferias'},{text: pageTitle}]"
></app-bread-crumb>

<!-- titulo da pagina-->
<app-page-header
 [page-title]="pageTitle"
 button-text="<< Voltar"
 button-link="/ferias"
 button-class="btn-light"
>
</app-page-header>

<!-- formulario -->
<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre as férias
    </div>
    <div class="card-body">
      <div class="form-row">
        <!-- colaborador -->  
        <div class="form-group col-md-4">
            <label for="colaborador">Colaborador</label>
            <input type="text" class="form-control" id="colaborador" formControlName="colaborador">
            <!-- componente customizado - passo como parametro o formcontrol -->
            <app-form-field-error [form-control]="resourceForm.get('colaborador')"></app-form-field-error>
        </div>
          <!-- comentario -->
        <div class="form-group col-md-8">
            <label for="comentario">Comentários</label>
            <input type="text" class="form-control" id="comentario" formControlName="comentario">
        </div>
      </div>
      <div class="form-row">
        <!-- data inicio -->
        <div class="form-group col-md-2">
            <label for="dataInicio">Data Início</label>
            <p-calendar id="dataInicio" formControlName="dataInicio" inputStyleClass="form-control" dataType="string" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>
            <!-- componente customizado - passo como parametro o formcontrol -->
            <app-form-field-error [form-control]="resourceForm.get('dataInicio')"></app-form-field-error>
        </div>
        <!-- data fim -->
        <div class="form-group col-md-2">
            <label for="dataInicio">Data Fim</label>
            <p-calendar id="dataFim" formControlName="dataFim" inputStyleClass="form-control" dataType="string" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>
            <!-- componente customizado - passo como parametro o formcontrol -->
            <app-form-field-error [form-control]="resourceForm.get('dataFim')"></app-form-field-error>
        </div>
        <!-- time -->
        <div class="form-group col-md-6">
          <label for="timeId">Time</label>
          <select name="timeId" id="timeId" formControlName="timeId" class="form-control">
              <option *ngFor="let time of times" [value]="time.id">{{time.nome}}</option>
            </select>
            <!-- componente customizado - passo como parametro o formcontrol -->
            <app-form-field-error [form-control]="resourceForm.get('timeId')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-2">
              <label for="concluida">Situação</label>
              <div class="btn-group">
                <label (click)="resourceForm.get('concluida').setValue(true)" [class.active]="resourceForm.get('concluida').value == true" class="btn btn-outline-info">Aprovada</label>
                <label (click)="resourceForm.get('concluida').setValue(false)" [class.active]="resourceForm.get('concluida').value == false" class="btn btn-outline-info">Pendente</label>
              </div>
            </div>
            
      </div>
    </div>
  </div>
  <!-- alertas de errro -->
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>
  <!-- botao -->
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>
</form>
<!-- debug -->
<!--<pre>{{resourceForm.value | json}}</pre>-->