<!-- componente de trilha de navegacao -->
<app-bread-crumb 
  [items]="[{text:'Férias',link:'/ferias'},{text: pageTitle}]"
></app-bread-crumb>

<!-- titulo da pagina-->
<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">
      {{pageTitle}}
    </h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/ferias" class="btn btn-light float-right">
      << Voltar
    </a>
  </div>
</div>

<!-- formulario -->
<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre as férias
    </div>
    <div class="card-body">
      <div class="form-row">
        <!-- colaborador -->  
        <div class="form-group col-md-4">
            <label for="colaborador">Colaborador</label>
            <input type="text" class="form-control" id="colaborador" formControlName="colaborador">
            <div class="text-danger" *ngIf="resourceForm.get('colaborador').invalid && resourceForm.get('colaborador').touched">
              <div *ngIf="resourceForm.get('colaborador').errors.required">Dado obrigatório</div>
              <div *ngIf="resourceForm.get('colaborador').errors.minlength">Deve ter no mínimo 3 caracteres</div>
            </div>
          </div>
          <!-- comentario -->
          <div class="form-group col-md-8">
            <label for="comentario">Comentários</label>
            <input type="text" class="form-control" id="comentario" formControlName="comentario">
          </div>
      </div>
      <div class="form-row">
        <!-- data inicio -->
        <div class="form-group col-md-2">
            <label for="dataInicio">Data Início</label>
            <p-calendar id="dataInicio" formControlName="dataInicio" inputStyleClass="form-control" dataType="string" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>
            <div class="text-danger" *ngIf="resourceForm.get('dataInicio').invalid && resourceForm.get('dataInicio').touched">
                <div *ngIf="resourceForm.get('dataInicio').errors.required">Dado obrigatório</div>
            </div>
        </div>
        <!-- data fim -->
        <div class="form-group col-md-2">
            <label for="dataInicio">Data Fim</label>
            <p-calendar id="dataFim" formControlName="dataFim" inputStyleClass="form-control" dataType="string" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>
            <div class="text-danger" *ngIf="resourceForm.get('dataFim').invalid && resourceForm.get('dataFim').touched">
                <div *ngIf="resourceForm.get('dataFim').errors.required">Dado obrigatório</div>
              </div>
        </div>
        <!-- time -->
        <div class="form-group col-md-6">
          <label for="timeId">Time</label>
          <select name="timeId" id="timeId" formControlName="timeId" class="form-control">
              <option *ngFor="let time of times" [value]="time.id">{{time.nome}}</option>
            </select>

            <div class="text-danger" *ngIf="resourceForm.get('timeId').invalid && resourceForm.get('timeId').touched">
                <div *ngIf="resourceForm.get('timeId').errors.required">Dado obrigatório</div>
            </div>
        </div>
        
      </div>
      <div class="form-row">
          <div class="form-group col-md-2">
              <label for="concluida">Situação</label>
              <div class="btn-group">
                <label (click)="resourceForm.get('concluida').setValue(true)" [class.active]="resourceForm.get('concluida').value == true" class="btn btn-outline-info">Aprovada</label>
                <label (click)="resourceForm.get('concluida').setValue(false)" [class.active]="resourceForm.get('concluida').value == false" class="btn btn-outline-info">Pendente</label>
              </div>
            </div>
            
      </div>
    </div>
  </div>
  <!-- alertas de errro -->
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>
  <!-- botao -->
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>
</form>
<!-- debug -->
<!--<pre>{{resourceForm.value | json}}</pre>-->