
<div class="d-flex" id="wrapper">
  <!-- SIDEBAR-->
   <div id="sidebar-wrapper">
     <div class="sidebar-heading">
     <img src="https://cdn2.iconfinder.com/data/icons/business-line-filled-13/512/business__management__clipboard_-512.png">  
      <span>Painel da SON</span></div>
     <div class="list-group list-group-flush boder-right">
        <a href="#" class="list-group-item list-group-item-action">Inicio</a>
        <a href="#" class="list-group-item list-group-item-action">Usuários</a>
        <a href="#" class="list-group-item list-group-item-action">Times</a>
        <a href="#" class="list-group-item list-group-item-action">Férias</a>
        <a href="#" class="list-group-item list-group-item-action">Relatórios</a>
     </div>
   </div>
  <!-- CONTEUDO-->
  <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light" id="son-navbar">
          <span id="menu-toggle" class="mr-auto">
             <img src="https://cdn3.iconfinder.com/data/icons/player/128/sound-05-512.png" class="mx-auto d-block">
          </span>
          <!-- header do sistema -->
          <a class="navbar-brand" href="#" id="navbar-site-title">Painel</a>
          <!-- botao de collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#son-navbar-collapse"
            aria-controls="son-navbar-collapse" aria-expanded="false" aria-label="Exibe toda navbar">
            <span class="navbar-toggler-icon"></span>
         </button>
          <!-- collapse-->
          <div class="collapse navbar-collapse" id="son-navbar-collapse">
            <!-- campo de pesquisa -->
            <form class="form-inline" id="navbar-search-form"><!-- renderizado em linha -->
              <input type="text" class="form-control form-field son-form-field" placeholder="Pesquisar" id="navbar-search-field" >
            </form>
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/relatorios">Relatórios</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/ferias">Férias</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/times">Times</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/usuarios">Usuários</a>
                </li>
            </ul>
            <!-- perfil do usuario-->
            <div id="navbar-profile" class="ml-auto">
                <img src="https://cdn2.iconfinder.com/data/icons/fantasy-characters/512/dwarf1-512.png" alt="" srcset="">
                <span>Juliherms Vasconcelos</span>
            </div>
          </div>
        </nav>
  </div>
</div>


<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" routerLink="/" >Gestão Fácil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/relatorios">Relatórios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/ferias">Férias</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/times">Times</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/usuarios">Usuários</a>
      </li>
    </ul>
  </div>
</nav>
-->
<div class="container">
  <router-outlet></router-outlet>
</div>

