<!-- componente de trilha de navegacao -->
<app-bread-crumb 
  [items]="[{text: 'Times'}]"
></app-bread-crumb>

<!-- titulo da pagina-->
<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Times
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="novo" class="btn btn-success float-right">
      + Novo Time
    </a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Time</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of resources">
      <td>
          <strong>{{time.nome}}</strong><br>
          <small>{{time.descricao}}</small>
      </td>
      <td>
        <a [routerLink]="[time.id,'editar']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(time)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>