/* You can add global styles to this file, and also import other style files */
/* adicao de fonte customizada - j.a.vasconcelos */
@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap');

#navbar-site-title{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-left: 1.2%;
}

.son-form-field{
    border-radius: 9px;
    border-width: 1px;
    border-color: #bacad6ff;
    box-shadow: 0px 1px 2px rgba(164,164,164,164,0.2);
    color:#000;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;

}

.son-form-field::placeholder{
    color:#c4c8ccff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

body{
    background: #eff1f4ff;
}


/* barra de menu */
#sidebar-wrapper{
    min-height: 100vh;
    margin-left: -18rem;
    /* para funcionar em todos os navegadores */
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    /* mudanca em animacao */
    transition: margin .25s ease-out; 
    background-color: #3e4856ff;
}

/* cabecalho do menu */
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem;
    font-size: 17px;
    background-color: #262d37ff;
    color: #fff;
    height: 64px;
    font-family: 'Nunito', sans-serif;
}

#sidebar-wrapper .sidebar-heading img {
    width: 30px;
    padding-bottom: 3%;
    padding-right: 3%;

}

/* linha do menu */
#sidebar-wrapper .list-group {
    width: 18rem;
    height: 10rem;
}

/* linha do menu */
#sidebar-wrapper .list-group-item {
    background-color: #3e4856ff;
    color:#fff;
    border:none;
    font-family: 'Nunito', sans-serif;
    padding: 10%;
    padding-left: 15%;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #262e39f0;
    color:#fff;
}

#son-navbar{
    background: #fff;
    box-shadow: 8px 2px 6px rgba(164,164,164,0.3);
    height:64px;
}

#page-content-wrapper {
    min-width: 100vw; /* view port */
}

#wrapper.toggled #sidebar-wrapper{
    margin-left: 0;
}

/* quando a tela tiver no minimo esse tamanho */
/* menor tela de pc */
@media(min-width:768px){
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #sidebar-wrapper{
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper{
        margin-left: -18rem;

    }
}

#navbar-site-title{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-left: 1.2%;
}
/* formulario **/
#navbar-search-form{
    width: 350px;
}
/** campo do formulario **/
#navbar-search-field{
    width: 100%;
}
/** configurar a foto do perfil **/
#navbar-profile img{
    border-radius: 50%;
    width:10%;
}
/** altera o texto do nome do usuario **/
#navbar-profile span{
    padding-left: 4%;
    color: #262d37ff;
    font-family: 'Nunito', sans-serif;
}


/* ------------------------- */

/*
#menu-toggle{
    background-color: #262d37ff;
    width:82px;
    height:64px;
    color:#fff;
    padding-top: 14px;
}
*/
#menu-toggle img{
    width: 30px;
}